:root.light {
    --primary: #ffffff;
    --secondary: #1f1f1f;
    --text-color: #000000;
    --border-color: #000000;
    --bg-secondary: #bdbdbd;
    --icon-color: var(--secondary);
}

:root.dark {
    --primary: #101321;
    --secondary: #9da4ad;
    --text-color: #ffffff;
    --border-color: #323543;
    --bg-secondary: #000;
    --icon-color: var(--secondary);
}

.background-primary {
    background-color: var(--primary);
}

.background-secondary {
    background-color: var(--bg-secondary);
}

.primary-color {
    color: var(--text-color)
}

.secondary-color {
    color: var(--secondary)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: $font-family-base;
}

.cursor-pointer {
    cursor: pointer;
}

.icon {
    color: var(--icon-color);
    cursor: pointer;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header-height {
    height: 55px;
}

.img-wrapper {
    height: 24px;
    width: 24px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
    }
}

.link-active {
    border: 2px solid #aad15e;
}

ul,
li {
    list-style-type: none;
}

.chart {
    height: 300px;
    width: 100%;
}

.theme-options {
    max-width: 600px;
    margin: 0 auto;

    div {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        display: inline-block;
    }
}

#theme-light {
    background-color: #ffffff;
}

#theme-dark {
    background-color: #101321;
}