#sidebar {
    .logo-wrapper {
        height: 26px;
        width: 26px;
        border-radius: 50%;
        border: 2px solid $secondary;

        span {
            font-size: 12px;
        }
    }
}